[user]
        name = Stephen Groat
	email = stephen@groat.us
[credential]
	helper = osxkeychain
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[fetch]
        prune = true
[pull]
        rebase = true
